@media (min-width: 778px) {
    .container {
        width: 748px;
    }
    .head-image {
        min-height: 700px;
    }
    /* ========== HEADER ========== */
    .site-sign {
        padding-top: 50px;
        margin-bottom: 0;
    }
    .site-logo {
        text-align: left;
        padding-top: 48px;
        margin-bottom: 150px;
    }
    .site-name {
        font-size: 52px;
        margin-bottom: 34px;
        width: 748px;
    }
    .site-subname {
        width: 404px;
        margin-bottom: 48px;
    }
    .site-partner {
        padding: 16px 20px;
    }
    /* ========== MAIN ========== */
    /* === employees list ===*/
    .site-employees-title {
        margin-bottom: 32px;
    }
    .site-employees-list {
        width: 532px;
        margin: 0 auto;
        margin-bottom: 50px;
    }
    .site-employees-item {
        width: 236px;
        padding: 0 10px;
    }
    .part2 {
        order: 3;
    }
    .part4 {
        order: 4;
    }
    /* === other partners === */
    .other-partners {
        padding: 12px 30px;
    }
}

@media (max-width: 747px) {
    .site-employees-item:nth-child(-n+3) {
        margin-bottom: 26px;
    }
}

@media (min-width: 748px) and (max-width: 941px) {
    .site-employees-item:nth-child(-n+2) {
        margin-bottom: 60px;
    }
}

@media (min-width: 972px) {
    .container {
        width: 942px;
    }
    .site-sign {
        width: 466px;
    }
    .site-name {
        width: 942px;
    }
    .site-employees-title {
        margin-bottom: 32px;
    }
    .site-employees-list {
        width: 942px;
    }
    .site-employees-item {
        width: 220px;
    }
}