* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

@font-face {
    font-family: "Montserrat-Regular";
    /* назва одна */
    font-weight: 400;
    /* різна вага/жирність */
    font-style: normal;
    src: url("../fonts/montserrat-v14-latin-regular.woff");
    src: url("../fonts/montserrat-v14-latin-regular.woff2");
    /* різні файли */
}

@font-face {
    font-family: "Montserrat-Bold";
    /* назва одна */
    font-weight: 700;
    /* різна вага/жирність */
    font-style: normal;
    src: url("../fonts/montserrat-v14-latin-700.woff");
    src: url("../fonts/montserrat-v14-latin-700.woff");
    /* різні файли */
}

@font-face {
    font-family: "Roboto-Regular";
    /* назва одна */
    font-weight: 400;
    /* різна вага/жирність */
    font-style: normal;
    src: url("../fonts/roboto-v20-latin-regular.woff");
    src: url("../fonts/roboto-v20-latin-regular.woff2");
    /* різні файли */
}

@font-face {
    font-family: "Roboto-Light";
    /* назва одна */
    font-weight: 300;
    /* різна вага/жирність */
    font-style: normal;
    src: url("../fonts/roboto-v20-latin-300.woff");
    src: url("../fonts/roboto-v20-latin-300.woff2");
    /* різні файли */
}

.container {
    max-width: 100%;
    width: 320px;
    padding: 0 15px;
    margin: 0 auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    /* display: inline-block; */
}

button {
    display: block;
    border: none;
    background: transparent;
}