* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: "Montserrat-Bold", sans-serif;
    font-weight: 700;
}

.container {
    max-width: 100%;
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

@font-face {
    font-family: "Montserrat-Regular";
    /* назва одна */
    font-weight: 400;
    /* різна вага/жирність */
    font-style: normal;
    src: url("../fonts/montserrat-v14-latin-regular.woff");
    src: url("../fonts/montserrat-v14-latin-regular.woff2");
    /* різні файли */
}

@font-face {
    font-family: "Montserrat-Bold";
    /* назва одна */
    font-weight: 700;
    /* різна вага/жирність */
    font-style: normal;
    src: url("../fonts/montserrat-v14-latin-700.woff");
    src: url("../fonts/montserrat-v14-latin-700.woff2");
    /* різні файли */
}

@font-face {
    font-family: "Roboto-Regular";
    /* назва одна */
    font-weight: 400;
    /* різна вага/жирність */
    font-style: normal;
    src: url("../fonts/roboto-v20-latin-regular.woff");
    src: url("../fonts/roboto-v20-latin-regular.woff2");
    /* різні файли */
}

@font-face {
    font-family: "Kaushan-Script";
    /* назва одна */
    font-weight: 400;
    /* різна вага/жирність */
    font-style: normal;
    src: url("../fonts/kaushan-script-v8-latin-regular.woff");
    src: url("../fonts/kaushan-script-v8-latin-regular.woff2");
    /* різні файли */
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

button {
    display: block;
    background: transparent;
    cursor: pointer;
}

/* ========== HEADER ========== */

/* ===== Background header ===== */
.banner {
    background-image: -moz-linear-gradient(rgba(243, 129, 129, 0.8),
            rgba(252, 227, 138, 0.8)),
        url("../img/mainimage@1x.jpg");
    background-image: -webkit-linear-gradient(rgba(243, 129, 129, 0.8),
            rgba(252, 227, 138, 0.8)),
        url("../img/mainimage@1x.jpg");
    background-image: -ms-linear-gradient(rgba(243, 129, 129, 0.8),
            rgba(252, 227, 138, 0.8)),
        url("../img/mainimage@1x.jpg");
    min-height: 1000px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: initial;
    object-fit: cover;
    padding: 0 15px;
}

/* ===== SITE HEADER =====  */

.site-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 26px;
    margin-bottom: 182px;
}

/* ===== Logo ===== */

.site-logo {
    font-size: 30px;
    line-height: 1.2;
    color: #ffffff;
    text-transform: uppercase;
}

/* ===== Menu ===== */

.site-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 620px;
}

.site-menu__link {
    font-family: "Montserrat-Regular";
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    color: #ffffff;
    text-transform: uppercase;
    border-bottom: 4px solid transparent;
    padding-bottom: 10px;
    transition: all 0.2s linear;
}

.site-menu__link-icon {
    width: 18px;
    height: 18px;
    fill: #ffffff;
}

/* === hover === */

.site-menu__link:focus,
.site-menu__link:hover {
    color: #fce38a;
    border-bottom: 4px solid #fce38a;
}

.site-menu__link-icon:focus,
.site-menu__link-icon:hover {
    fill: #fce38a;
}

/* ===== SITE TITLE ===== */

.site-title {
    font-family: "Kaushan-Script";
    font-weight: 400;
    font-size: 72px;
    line-height: 1.2;
    color: #ffffff;
    text-align: center;
    margin: 0;
}

.site-subtitle {
    font-size: 150px;
    line-height: 1.2;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 110px;
}

/* ===== Button ===== */

.main-btn {
    font-size: 14px;
    line-height: 1.2;
    color: #ffffff;
    text-transform: uppercase;
    border: 2px solid #ffffff;
    padding: 12px 30px;
    margin: 0 auto;
    transition: all 0.3s linear;
}

/* === hover === */

.main-btn:focus,
.main-btn:hover {
    color: #fce38a;
    background-color: #ffffff;
}

/* ========== MAIN ========== */

/* ===== SERVICE ===== */

/* ===== Service title ===== */

.service {
    margin-bottom: 100px;
}

.service-title p {
    font-family: "Kaushan-Script";
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2;
    color: #333333;
    text-align: center;
    padding-top: 52px;
    padding-bottom: 20px;
}

.service-subtitle {
    display: block;
    font-size: 30px;
    line-height: 1.2;
    color: #333333;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 40px;
}

.service-title::after {
    content: "";
    display: block;
    width: 60px;
    height: 4px;
    background-color: #f38181;
    margin: 0 auto;
    margin-bottom: 64px;
}

/* ===== Service list ===== */

.service-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.service-list__item {
    position: relative;
    width: 380px;
    padding-left: 80px;
}

.service-list__item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 100px;
}

.service-list__icon {
    width: 32px;
    height: 32px;
    fill: #95e1d3;
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 24px;
}

.service-list__title {
    font-size: "Montserrat-Regular";
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    color: #333333;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.service-list__about {
    font-family: "Roboto-Regular";
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #999999;
}

/* ===== TEAM ===== */

/* ===== Team title =====*/

.team {
    margin-bottom: 80px;
}

.team-title {
    margin-bottom: 50px;
}

.team-title p {
    font-family: "Kaushan-Script";
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2;
    color: #333333;
    text-align: center;
    padding-bottom: 20px;
}

.team-subtitle {
    display: block;
    font-size: 30px;
    line-height: 1.2;
    color: #333333;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 40px;
}

.team-title::after {
    content: "";
    display: block;
    width: 60px;
    height: 4px;
    background-color: #f38181;
    margin: 0 auto;
}

.team-about {
    font-family: "Roboto-Regular";
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #999999;
    width: 900px;
    padding: 0 10px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 92px;
}

/* ===== Team list ===== */

.team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.team-list__item {
    width: 380px;

}

.team-list__name {
    font-family: "Montserrat-Regular";
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: 400;
    color: #333333;
    text-align: center;
    margin-top: 28px;
    margin-bottom: 10px;

}

.team-list__about {
    font-size: "Roboto-Regular";
    font-size: 14px;
    font-weight: 24px;
    color: #999999;
    font-weight: 400;
    text-align: center;

}

/* === Overlay === */

.team-list__item {
    position: relative;
}

.back-fon {
    background: #95e1d3;
}

.fon {
    transition: all 0.2s linear;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 380px;
    height: 470px;
    background-image: linear-gradient(to top, rgba(252, 227, 138, .8) 0%, rgba(243, 129, 129, 0.8) 100%);
    opacity: 0;
    transition: all 0.2s linear;
}

.fon:hover .overlay {
    opacity: 1;

}

.fon:focus,
.fon:hover {
    transform: translate(-10px, -10px);
}

/* === soc icons === */

.overlay__icons {
    display: flex;
    list-style: none;
}

.overlay__soc {
    width: 56px;
    height: 56px;
    border: 1px solid #f38181;
    background-color: rgba(252, 227, 138, 1);
    cursor: pointer;
    transition: all 0.2s linear;
}

.overlay__soc:focus,
.overlay__soc:hover {
    background-color: #f38181;
}

.overlay__soc-icon {
    width: 26px;
    height: 26px;
    fill: #f38181;
    transition: all 0.2s linear;
}

.overlay__soc:focus .overlay__soc-icon,
.overlay__soc:hover .overlay__soc-icon {
    fill: #ffffff;

}


/* ========== FOOTER ========== */

/* ===== Site footer ===== */

.site-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 62px;
}

.site-footer address {
    font-size: 14px;
    line-height: 17px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #333333;
}

.site-footer a {
    font-size: 14px;
    line-height: 17px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: #333333;
    transition: all 0.2s linear;
}

/* === hover === */

.site-footer a:focus,
.site-footer a:hover {
    color: #f38181;
}

/* ===== Fitback ===== */

.fitback {
    font-size: 0;
}

.site-footer input {
    display: inline-block;
    vertical-align: middle;
    width: 230px;
    height: 41px;
    outline: none;
    font-size: 15px;
    border: 2px solid #e7e7e7;
    border-right: none;
    font-style: normal;
    background-color: #ffffff;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

input::placeholder {
    font-family: "Roboto-Regular";
    font-size: 15px;
    font-style: italic;
    color: #e7e7e7;
    padding-left: 10px;
}

.footer-button {
    display: inline-block;
    vertical-align: middle;
    border: none;
    border-radius: 02%;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    background-color: #95e1d3;
    margin: 0;
    padding: 12px 34px;
    cursor: pointer;
    transition: all 0.2s linear;
}

/* === hover === */

.footer-button:focus,
.footer-button:hover {
    background-color: #f38181;
    color: #ffffff;
}