html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  color: #555252;
  max-width: 1600px;
}

.clearfix {
  display: table;
  content: "";
  clear: both;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

/* ========== HEADER ==========*/

/* ===== logo ===== */

.page-header {
  padding: 30px 0;
}

.site-logo {
  float: left;
  margin: 0;
  padding: 0;
  width: 80px;
  display: block;
}

.site-logo a {
  font-size: 30px;
  line-height: 32px;
  text-transform: uppercase;
  text-decoration: none;
  color: #555252;
  font-weight: 300;
}

.site-logo::first-letter {
  color: #1abc9c;
  font-weight: 900;
}

/* ===== navigation ===== */

.site-navigation {
  float: right;
  margin: 0;
  padding: 0;
  width: 482px;
  list-style: none;
}

.site-navigation li {
  float: left;
  margin-top: 5px;
}

.site-navigation li:not(:last-child) {
  margin-right: 36px;
}

.site-navigation a {
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 900;
  color: #555252;
}

.site-navigation a:focus,
.site-navigation a:hover {
  color: #1abc9c;
}

.main-body {
  background-color: #e9f0fd;
}

/* ========== MAIN ========== */

/* ===== banner ===== */
.banner {
  position: relative;
  margin-bottom: 92px;
}

.banner img {
  width: 100%;
  min-height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

.overlay-main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.522);
}

/* .container {
  position: relative;
} */

.main-title {
  min-height: 600px;
  font-size: 0;
}

.prev {
  /* position: absolute;
  left: 0;
  top: 230px; */
  opacity: 1;
  width: 100px;
  height: 100px;
  background-image: url("../img/Icons/prev.png");
  background-color: #1abc9c;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  padding: 0;
  margin: 230px 92px 0 0;
}

.next {
  /* position: absolute;
  right: 0;
  top: 230px; */
  opacity: 1;
  width: 100px;
  height: 100px;
  background-image: url("../img/Icons/next.png");
  background-color: #1abc9c;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  margin: 0;
  padding: 0;
  margin-top: 230px;
}

.prev:focus,
.prev:hover {
  background-color: rgb(78, 198, 171);
  opacity: 0.651;
}

.next:focus,
.next:hover {
  background-color: rgb(78, 198, 171);
  opacity: 0.651;
}

.main-text {
  /* position: absolute;
  top: 206px;
  left: 50%;
  transform: translate(-50%, -50%); */
  display: inline-block;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 82px;
  font-weight: 900;
  color: white;
  margin: 206px 92px 0 0;
}

.second-text {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 54px;
  font-weight: 300;
  color: white;
}




/* ===== page catalog ===== */
.page-catalog {
  padding-bottom: 100px;
  background-color: #e9f0fd;
}

.page-cataloge-name {
  text-align: center;
  text-transform: uppercase;
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
  color: #515151;
  margin: 0px;
  padding: 0px;
  margin-bottom: 80px;
}

.page-cataloge-name::after {
  display: block;
  width: 160px;
  height: 8px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #1abc9c;
  content: "";
}



/* ===== page cataloge list ===== */

.page-cataloge-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-cataloge-item {
  float: left;
  width: 255px;
  position: relative;
  background-color: #323232;

}

.page-cataloge-item:not(:last-child) {
  margin-right: 30px;
}


.product-name {
  display: inline-block;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;
  text-align: left;
  width: 200px;
  height: 40px;
  padding-left: 16px;
  padding-top: 4px;
}

.product-price {
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  font-weight: 900;
  background-color: #8c8c8c;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  width: 55px;
  height: 40px;
  padding-top: 4px;
}

/* ===== overlay ===== */

.overlay {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0px;
  list-style: none;
  border: 10px solid rgba(0, 0, 0, 0.01);
  border-bottom: 50px solid rgba(0, 0, 0, 0.01);
  background-color: rgba(0, 0, 0, 0.44);
  background-clip: padding-box;
  box-sizing: border-box;
}

/* === hover === */

.page-cataloge-item:hover .overlay {
  opacity: 1;
}

.page-cataloge-item:hover .product-name {
  background-color: rgb(26, 188, 156);
}

.page-cataloge-item:hover .product-price {
  background-color: #7fd9c7;
}


/* === social icons === */

.socials {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 158px;
  font-size: 0;
  margin: 0;
  padding: 0;
}

.icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 1px solid white;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 0);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  text-align: right;
  color: white;
  margin: 0;
  padding: 0;
}

.icon:nth-child(-n+2) {
  margin-right: 4px;
}

.icon1 {
  background-image: url("../img/Icons/icon1.png");
}

.icon2 {
  background-image: url("../img/Icons/icon2.png");
}

.icon3 {
  background-image: url("../img/Icons/icon3.png");
}

.icon4 {
  background-image: url("../img/Icons/icon4.png");
  background-position: 10px;
  width: 100%;
  background-color: #323232;
  padding: 0 10px;
  margin-top: 4px;
}

.icon:hover {
  background-color: #1abc9c;
}



/* ========== FOOTER ==========*/

.footer-info {
  width: 100%;
}

.rights {
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  text-align: center;
  padding: 33px 0;
  margin: 0;
  background-color: #323232;
}

.graph {
  font-size: 12px;
  line-height: 14px;
  color: #46bfa9;
}




.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}