// gradient
$bg-l-g: linear-gradient(to top, rgba(252, 227, 138, .8) 0%, rgba(243, 129, 129, 0.8) 100%);

// fonts-famely
$ff-m-r: "Montserrat-Regular";
$ff-m-b: "Montserrat-Bold";
$ff-r-r: "Roboto-Regular";
$ff-k-s: "Kaushan-Script";